footer.footer
  .footer__inner
    ul.footer__social
      li: a(target="_blank", href="//facebook.com/workimpulso"): i.fab.fa-facebook-f
      li: a(target="_blank", href="//twitter.com/impulsonetwork"): i.fab.fa-twitter
      li: a(target="_blank", href="//linkedin.com/company/impulsowork"): i.fab.fa-linkedin-in
      li: a(target="_blank", href="//instagram.com/impulso.network"): i.fab.fa-instagram
      li: a(target="_blank", href="//github.com/impulsonetwork"): i.fab.fa-github
      li: a(target="_blank", href="//chat.impulso.network"): i.fab.fa-rocketchat
    hr
    p.copyright 2018 © Todos os direitos reservados. Impulso.
